<li class="post" data-id="<%= item.id %>">
	<div class="post_user_picture">
		<%= user_avatar :user => item.user, :size => :small, :resize => "50px" %>
	</div>
	<div class="post_body">
		<%= link_to item.user.name, item.user %> uploaded a new photo <%= link_to "asd", album_photo_path(item.album, item) %><br/>
		<span class="timeAgo"><%= distance_of_time_in_words_to_now(item.created_at) %> ago</span>
	</div>
</li>