<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  	<%= render 'layouts/stylesheets' %>
	<%= render 'layouts/javascripts' %>
	<%= stylesheet_link_tag 'admin/admin_formtastic_changes.css' %>
  	<%= csrf_meta_tag %>
	<%= yield :head %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
	<div class="container">
		<section>
			<%= render 'layouts/header' %>

			<div id="wrapper">
				<div id="large-box">
					<%= render :partial => 'layouts/flash', :locals => { :flash => flash } %>
					<%= render :partial => 'admin/navi' %>
					<%= yield :page_navi %>
					<%= yield :sub_page_navi %>
					<%= yield %>
				</div>
				<div id="right-box">
					<%= yield :rightBar %>
				</div>
			</div>
		</section>
	</div>
  </body>
</html>

